<form [formGroup]="configForm" class="dialog-form">

  <div class="form-input">
    <mat-form-field appearance="outline" class="subject-input form-input ">
      <mat-label>Select a Config Type</mat-label>
      <mat-select matInput formControlName="configType" [(value)]="configTypeStr">
        <mat-option value="fhirQueryConfiguration">fhirQueryConfiguration</mat-option>
        <mat-option value="fhirQueryListConfiguration">fhirQueryListConfiguration</mat-option>
      </mat-select>
      @if (configTypeControl.hasError('required')) {
        <mat-error>
          A config type is <strong>required</strong>
        </mat-error>
      }
    </mat-form-field>
  </div>

  <div class="form-input">
    <mat-form-field appearance="outline" class="subject-input form-input ">
      <mat-label>Facility Id</mat-label>
      <input matInput formControlName="facilityId" [readonly]="viewOnly" placeholder="Facility Id">
      @if (facilityIdControl.value && !viewOnly) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="clearFacilityId()">
          <mat-icon>close</mat-icon>
        </button>
      }
      @if (facilityIdControl.hasError('required')) {
        <mat-error>
          A facility id is <strong>required</strong>
        </mat-error>
      }
    </mat-form-field>
  </div>

  <div class="form-input">
    <mat-form-field appearance="outline" class="subject-input form-input ">
      <mat-label>Auth Type</mat-label>
      <input matInput formControlName="authType" [readonly]="viewOnly" placeholder="Authentication Type">
      @if (authTypeControl.value && !viewOnly) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="clearAuthType()">
          <mat-icon>close</mat-icon>
        </button>
      }
      @if (authTypeControl.hasError('required')) {
        <mat-error>
          Auth Type is <strong>required</strong>. Allowed values are Basic, Epic, and None.
        </mat-error>
      }
    </mat-form-field>
  </div>

  <div class="form-input">
    <mat-form-field appearance="outline" class="subject-input form-input ">
      <mat-label>Key</mat-label>
      <input matInput formControlName="authKey" [readonly]="viewOnly" placeholder="Authentication Key">
      @if (authKeyControl.value && !viewOnly) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="clearAuthKey()">
          <mat-icon>close</mat-icon>
        </button>
      }
      @if (authTypeControl.value != 'None' && authTypeControl.value != 'Basic') {
        <mat-error>
          Auth Key is <strong>required</strong> when AuthType is not None or Basic.
        </mat-error>
      }
    </mat-form-field>
  </div>

  <div class="form-input">
    <mat-form-field appearance="outline" class="subject-input form-input">
      <mat-label>Token URL</mat-label>
      <input matInput formControlName="tokenUrl" [readonly]="viewOnly" placeholder="Token URL">
      @if (tokenUrlControl.value && !viewOnly) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="clearTokenUrl()">
          <mat-icon>close</mat-icon>
        </button>
      }
      @if (authTypeControl.value != 'None' && authTypeControl.value != 'Basic') {
        <mat-error>
          Token URL is <strong>required</strong> when AuthType is not None or Basic.
        </mat-error>
      }
    </mat-form-field>
  </div>

  <div class="form-input">
    <mat-form-field appearance="outline" class="subject-input form-input ">
      <mat-label>Audience</mat-label>
      <input matInput formControlName="audience" [readonly]="viewOnly" placeholder="Audience">
      @if (audienceControl.value && !viewOnly) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="clearAudience()">
          <mat-icon>close</mat-icon>
        </button>
      }
      @if (authTypeControl.value != 'None' && authTypeControl.value != 'Basic') {
        <mat-error>
          Audience is <strong>required</strong> when AuthType is not None or Basic.
        </mat-error>
      }
    </mat-form-field>
  </div>

  <div class="form-input">
    <mat-form-field appearance="outline" class="subject-input form-input ">
      <mat-label>Audience</mat-label>
      <input matInput formControlName="clientId" [readonly]="viewOnly" placeholder="Client ID">
      @if (clientIdControl.value && !viewOnly) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="clearClientId()">
          <mat-icon>close</mat-icon>
        </button>
      }
      @if (authTypeControl.value != 'None' && authTypeControl.value != 'Basic') {
        <mat-error>
          Client Id is <strong>required</strong> when AuthType is not None or Basic.
        </mat-error>
      }
    </mat-form-field>
  </div>

  <div class="form-input">
    <mat-form-field appearance="outline" class="subject-input form-input ">
      <mat-label>User Name</mat-label>
      <input matInput formControlName="userName" [readonly]="viewOnly" placeholder="User Name">
      @if (userNameControl.value && !viewOnly) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="clearUserName()">
          <mat-icon>close</mat-icon>
        </button>
      }
      @if (authTypeControl.value == 'Basic') {
        <mat-error>
          User Name is <strong>required</strong> when AuthType is Basic.
        </mat-error>
      }
    </mat-form-field>
  </div>

  <div class="form-input">
    <mat-form-field appearance="outline" class="subject-input form-input ">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" [readonly]="viewOnly" placeholder="Password">
      @if (passwordControl.value && !viewOnly) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="clearPassword()">
          <mat-icon>close</mat-icon>
        </button>
      }
      @if (authTypeControl.value == 'Basic') {
        <mat-error>
          Password is <strong>required</strong> when AuthType is Basic.
        </mat-error>
      }
    </mat-form-field>
  </div>
</form>
