
<input type="file" class="file-input"  (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">

  <mat-form-field [style.width.px]="2000">

    <input matInput [disabled]="true" [value]="fileName">

    @if (file) {
      <button matSuffix mat-icon-button aria-label="Clear" matTooltip="Clear the file" (click)="clearFile()">
        <mat-icon>close</mat-icon>
      </button>
    }

  </mat-form-field>

  <button mat-mini-fab color="primary" type="button"  class="upload-btn" (click)="onClick(fileUpload)" [disabled]="disabled" matTooltip="Upload a file">
    <mat-icon>attach_file</mat-icon>
  </button>
</div>


