<form [formGroup]="normalizationForm" class="dialog-form">

  <div class="form-input">
    <mat-form-field appearance="outline" class="subject-input form-input ">
      <mat-label>Facility Id</mat-label>
      <input matInput formControlName="facilityId" [disabled]="true" placeholder="Facility Id">
    </mat-form-field>
  </div>

  <div class="form-input">
    <mat-form-field appearance="outline" class="subject-input form-input">
      <mat-label>Operation Sequence</mat-label>
      <textarea class="large-textarea" rows="10" matInput formControlName="operationSequence" [readonly]="viewOnly"></textarea>
      @if (operationSequenceControl.value && !viewOnly) {
        <button matSuffix mat-icon-button aria-label="Clear" (click)="clearOperationSequenceControl()">
          <mat-icon>close</mat-icon>
        </button>
      }
      @if ( !viewOnly && operationSequenceControl.hasError('required')) {
        <mat-error>
          Initial Queries string is required <strong>required</strong>
        </mat-error>
      }
      @if (!viewOnly && operationSequenceControl.hasError('invalidJson')) {
        <mat-error>
          ❌ Invalid JSON format.
        </mat-error>
      }
    </mat-form-field>
  </div>

</form>
