.docker/
.github/
.junie/
Azure_Pipelines/
docs/
Java/
**/*Tests/
Scripts/
Web/
**/.classpath
**/.coderabbit.yaml
**/.dockerignore
**/.editorconfig
**/.env
**/.git
**/.gitattributes
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin/
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj/
**/secrets.dev.yaml
**/values.dev.yaml
**/.idea
*.iml
AGENTS.md
LICENSE
README.md
SECURITY.md
topics.txt
