@use '../../../../../styles/core.scss';
@use '../../../../../styles/link-table.scss';

.priority-high {
    background-color: rgb(161, 112, 3, .7);
}

    .priority-high > td.data-col , 
    .priority-high > td.data-col > div {
        color: #FFFFFF;
    }    

    .priority-high > td.priority-col,
    .priority-high > td.data-col > div.log-resource-type {
        font-weight: 900;
    }

.priority-critical {
  background-color: rgb(161, 3, 14, .7);
}

    .priority-critical > td.data-col, 
        .priority-critical > td.data-col > div {
            color: #FFFFFF;
        }

    .priority-critical > td.priority-col,
    .priority-critical > td.data-col > div.log-resource-type {
        font-weight: 900;
    }


.status-pending {
    background-color: #eef2ff; 
    color: #4338ca;            
    box-shadow: 0 0 0 1px rgba(79, 70, 229, 0.2); 
    padding: 0.25rem;
    border-radius: 0.375rem;
}
    
.status-processing {
    background-color: #fffbeb; 
    color: #d97706;            
    border: 1px solid rgba(202, 138, 4, 0.2);
    padding: 0.25rem;
    border-radius: 0.375rem;
}
    
.status-completed {
    background-color: #ecfdf5; 
    color: #047857;            
    box-shadow: 0 0 0 1px rgba(5, 150, 105, 0.2);
    padding: 0.25rem;
    border-radius: 0.375rem;
}

.filter-container {
    position: relative;
    display: inline-block; 
    width: 100%;
}

.filter-panel {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 1em;
  width: 60%;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.filter-row {
  display: flex;
  gap: 1em;
  margin-bottom: 12px;
}

.filter-item {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.filter-item label {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
    color: #333;    
}

.filter-item input,
.filter-item select {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
