<h1 mat-dialog-title class="dialog-form-header">{{dialogTitle}}</h1>
<div mat-dialog-content>
  <app-measure-mapping-form [item]="measureMapping" [formMode]="formMode" [viewOnly]="viewOnly" (formValueChanged)="onFormValueChanged($event)" (submittedConfiguration)="onSubmittedConfiguration($event)"></app-measure-mapping-form>
</div>
<div mat-dialog-actions align="end">
  @if (!viewOnly) {
    <button mat-raised-button color="primary" [disabled]="!canSave" (click)="submitConfiguration()">
      <mat-icon>{{ formMode == FormMode.Create ? 'save' : 'save_as' }}</mat-icon>
      {{ formMode == FormMode.Create ? 'Create' : 'Update' }} Measure Mapping
    </button>
  }
  <button mat-raised-button type="button" mat-dialog-close>Close</button>
</div>
