@use '@angular/material' as mat;
@use '../styles/zelda-blue-theme-colors.scss' as zeldaBlue;
@include mat.core();

$my-primary: mat.define-palette(zeldaBlue.$zelda-blue-primary, 700, 500, 300);
$my-accent: mat.define-palette(zeldaBlue.$zelda-blue-accent, 600, 400, 200);
//$my-warn: mat.define-palette(zeldaBlue.$zelda-blue-warn, 400);

$zelda-blue-theme: mat.define-light-theme((
    color: (
      primary: $my-primary,
      accent: $my-accent,
      //warn: $my-warn
    )
  ));

//@include mat.all-component-themes($zelda-blue-theme);

.zelda-blue {
  @include mat.all-component-colors($zelda-blue-theme);
}


$my-primary-dark: mat.define-palette(zeldaBlue.$zelda-blue-primary, 900, 700, 500);
$my-accent-dark: mat.define-palette(zeldaBlue.$zelda-blue-accent, 900, 700, 500);
//$my-warn-dark: mat.define-palette(zeldaBlue.$zelda-blue-warn, 900);


$zelda-blue-dark-theme: mat.define-dark-theme((
    color: (
      primary: $my-primary-dark,
      accent: $my-accent-dark,
      //warn: $my-warn-dark
    )
  ));

.zelda-blue-dark {
  @include mat.all-component-colors($zelda-blue-dark-theme);
}
