<div class="content">

  <p>
    <mat-toolbar class="page-header-bar" color="primary">
      <span>Audit Event Logs</span>
    </mat-toolbar>
  </p>

  <div class="filter-fields">
    <mat-form-field appearance="fill">
      <mat-label>Facility Id</mat-label>
      <mat-select (selectionChange)="onFilterSelection($event)" id="facilityFilterSelector">
        <mat-option *ngFor="let filter of facilityFilter" [value]="filter">
          {{filter}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Service Name</mat-label>
      <mat-select (selectionChange)="onFilterSelection($event)" id="serviceFilterSelector">
        <mat-option *ngFor="let filter of serviceFilter" [value]="filter">
          {{filter}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Action</mat-label>
      <mat-select (selectionChange)="onFilterSelection($event)" id="actionFilterSelector">
        <mat-option *ngFor="let filter of actionFilter" [value]="filter">
          {{filter}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label>Correlation Id</mat-label>
      <input matInput type="text" [(ngModel)]="filterCorrelationBy" (keydown.enter)="applyCorrelationFilter()">
      <button *ngIf="filterCorrelationBy" matSuffix mat-icon-button aria-label="Clear" (click)="clearCorrelationFilter()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>


  </div>

  <div class="audit-table-container" *ngIf="auditLogs.length > 0;else no_audits_found">

    <table mat-table [dataSource]="auditLogs" multiTemplateDataRows>

      <ng-container matColumnDef="{{column.key}}" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef> {{column.display}} </th>
        <td mat-cell *matCellDef="let item">
          {{ column.key === 'eventDate' ? (item[column.key] | date: 'long') : item[column.key] }}
          <!--{{item[column.key]}}-->
        </td>
      </ng-container>
      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let record">
          <button mat-icon-button aria-label="expand row" (click)="(expandedRecord = expandedRecord === record ? null : record); $event.stopPropagation()">
            <mat-icon *ngIf="expandedRecord !== record">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="expandedRecord === record">keyboard_arrow_up</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let record" [attr.colspan]="columnsToDisplayWithExpand.length">
          <div class="table-record-detail"
               [@detailExpand]="record == expandedRecord ? 'expanded' : 'collapsed'">
            <div class="table-record-description">              
              {{record.notes}}
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
      <tr mat-row *matRowDef="let record; columns: columnsToDisplayWithExpand;"
          class="table-record-row"
          [class.example-expanded-row]="expandedRecord === record"
          (click)="expandedRecord = expandedRecord === record ? null : record">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="table-record-row"></tr>

     
    </table>
    <mat-paginator [length]="paginationMetadata.totalCount"
                   [pageIndex]="paginationMetadata.pageNumber"
                   [pageSize]="paginationMetadata.pageSize"
                   [pageSizeOptions]="[5, 10, 20]"
                   (page)="pagedEvent($event)"
                   showFirstLastButtons
                   aria-label="Select page of audit logs">
    </mat-paginator>
  </div>
  <ng-template #no_audits_found>
    <div class="no-results-found-container">
      <span>No audit events found.</span>
    </div>

  </ng-template>
</div>

