<form [formGroup]="patientForm">
  <div class="enter-test-data">
    <b>Admit/Discharge Patients</b>
  </div>
  <div *ngFor="let item of patientLists; let idx = index" class="list-section">
    <b>{{ item.listType }} - {{ item.timeFrame }}</b>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Census Patients</mat-label>
        <input matInput [formControlName]="'input_' + idx" placeholder="Enter comma delimited patient IDs"/>
      </mat-form-field>
      <button mat-raised-button color="primary" type="button" (click)="addPatients(idx)">Add</button>
    </div>
    <div class="input-container">
      <!-- <ul>
         <li *ngFor="let patient of item.patientIds; let pIdx = index">
           {{ patient }}
           <button mat-icon-button color="warn" type="button" (click)="removePatient(idx, pIdx)">
             <mat-icon>remove_circle</mat-icon>
           </button>
         </li>
       </ul>-->

      @for (patient of item.patientIds; track patient; let pIdx = $index) {
        <tr>
          <td>{{ patient }}</td>
          <td>
            @if (item.patientIds.length > 1) {
              <button mat-icon-button color="warn" (click)="removePatient(idx, pIdx)">
                <mat-icon>remove_circle</mat-icon>
              </button>
            }
          </td>
        </tr>
      }

    </div>
  </div>

  <div class="form-bar">
    <button mat-raised-button color="primary" type="button" (click)="generateEvent()">Finish</button>
  </div>

</form>
