<form [formGroup]="patientForm">
  <div class="enter-test-data">
    <b>Admit/Discharge Patients</b>
  </div>
  @for (item of patientLists; track item; let idx = $index) {
    <div [formGroup]="patientForm" class="patient-list-section">
      <div class="list-header">
        {{ item.listType }} - {{ item.timeFrame }}
      </div>

      <div class="input-row">
        <mat-form-field class="form-input" appearance="outline">
          <mat-label>Census Patients</mat-label>
          <input
            matInput
            [formControlName]="'input_' + idx"
            placeholder="Enter comma delimited patient IDs"
          />
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          type="button"
          class="custom-height-button"
          (click)="addPatients(idx)"
          [disabled]="!patientForm.get('input_' + idx)?.value"
        >
          Add
        </button>
      </div>

      <div class="input-container">
        <table class="patient-table">
          <tbody>
            @for (patient of item.patientIds; track patient; let pIdx = $index) {
              <tr class="patient-item">
                <td>{{ patient }}</td>
                <td>
                  <button
                    mat-icon-button
                    type="button"
                    class="remove-btn"
                    matTooltip="Remove patient"
                    (click)="removePatient(idx, pIdx)">
                    <mat-icon>remove_circle</mat-icon>
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  }
  @if(!hasAnyPatients())
  {
    <div class="validation-note" >
      ⚠️ At least one patient must be entered before continuing.
    </div>
  }

  <div class="form-bar">
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="generateEvent()"
      [disabled]="!hasAnyPatients()"
    >
      Finish
    </button>
  </div>

</form>
