@use '../../../../styles/core.scss';



.mat-mdc-form-field-infix {
  flex: auto;
  min-width: 0;
  // Infix stretches to fit the container, but naturally wants to be this wide. We set
  // this in order to have a consistent natural size for the various types of controls
  // that can go in a form field.
  width: 2000px;
  // Needed so that the floating label does not overlap with prefixes or suffixes.
  position: relative;
  box-sizing: border-box;
}
