<!-- <form [formGroup]="configForm" class="dialog-form">
  <div class="form-input">
    <mat-form-field appearance="outline" class="subject-input form-input ">
      <mat-label>Facility Id</mat-label>
      <input matInput formControlName="facilityId" [readonly]="viewOnly">
      <button *ngIf="facilityIdControl.value && !viewOnly" matSuffix mat-icon-button aria-label="Clear" (click)="clearFacilityId()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="facilityIdControl.hasError('required')">
        A facility id is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="form-input">
    <mat-form-field appearance="outline" class="subject-input form-input ">
      <mat-label>Fhir Server Base URL</mat-label>
      <input matInput formControlName="fhirServerBaseUrl" [readonly]="viewOnly">
      <button *ngIf="fhirServerBaseUrl.value && !viewOnly" matSuffix mat-icon-button aria-label="Clear" (click)="clearFhirServerBaseUrl()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="fhirServerBaseUrlControl.hasError('required')">
        A fhir base url is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="subject-input form-input ">
      <mat-label>Query Plan IDs (comma separated)</mat-label>
      <input matInput formControlName="queryPlanIds" [readonly]="viewOnly">
      <button *ngIf="fhirServerBaseUrl.value && !viewOnly" matSuffix mat-icon-button aria-label="Clear" (click)="clearQueryPlanIds()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="queryPlanIdsControl.hasError('required')">
        At least 1 query plan id is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
</form> -->
