<nav class="subnavbar">
  <ul class="subnav-menu">
    @for (item of subnavItems; track item) {
      <li class="subnav-item" [class.dropdown]="item.children"
        [class.active]="item.children && isChildRouteActive(item.children)">
        <!-- Top-level item -->
        @if (!item.children) {
          <a [routerLink]="[item.path!]" routerLinkActive="active">
            {{ item.label }}
          </a>
        }
        <!-- Dropdown item -->
        @if (item.children) {
          <a>
            {{ item.label }}
            <div class="dropdown-icon">
              <vd-icon filePath="../../../assets/icons/chevron-default.svg"></vd-icon>
            </div>
          </a>
          <ul class="dropdown-menu">
            @for (child of item.children; track child) {
              <li>
                <a [routerLink]="[child.path!]" routerLinkActive="active">
                  {{ child.label }}
                </a>
              </li>
            }
          </ul>
        }
      </li>
    }
  </ul>
</nav>