<nav class="subnavbar">
  <ul class="subnav-menu">
    <li class="subnav-item" *ngFor="let item of subnavItems" [class.dropdown]="item.children">
      <!-- Regular nav item -->
      <a *ngIf="!item.children" [routerLink]="[item.path!]" routerLinkActive="active">
        {{ item.label }}
      </a>

      <!-- Dropdown menu -->
      <ng-container *ngIf="item.children">
        <a href="#">
          {{ item.label }}
          <div class="dropdown-icon">
            <vd-icon filePath="../../../assets/icons/chevron-default.svg"></vd-icon>
          </div>
        </a>
        <ul class="dropdown-menu">
          <li *ngFor="let child of item.children">
            <a [routerLink]="[child.path!]" routerLinkActive="active">
              {{ child.label }}
            </a>
          </li>
        </ul>
      </ng-container>
    </li>
  </ul>
</nav>