<mat-card-content>

  <div *ngIf="errorMessage" class="error-snackbar" #errorDiv>
    <mat-icon color="warn">error_outline</mat-icon>
    {{ errorMessage }}
  </div>
  <form [formGroup]="form" class="operation-form">
    <h2 class="section-title">Operation Details</h2>
    <!-- Facility Id -->
    <mat-form-field *ngIf="!isVendorMode" appearance="outline" class="full-width">
      <mat-label>Facility Id</mat-label>
      <input matInput formControlName="facilityId" [disabled]="true" placeholder="Facility Id"/>
    </mat-form-field>

    <!-- Vendor Id -->
    <mat-form-field *ngIf="isVendorMode" appearance="outline" class="full-width">
      <mat-label>Select Vendor</mat-label>
      <mat-select formControlName="selectedVendor" [disabled]="viewOnly" multiple>
          <mat-option *ngFor="let vendor of vendors" [value]="vendor.id">{{ vendor.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-error *ngIf="form.hasError('facilityOrVendorRequired') && (form.touched || form.dirty)">
       Vendor must be selected.
    </mat-error>

    <!-- Name -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" [readonly]="viewOnly"/>
      <button *ngIf="nameControl.value && !viewOnly" matSuffix mat-icon-button aria-label="Clear" (click)="clearName()">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="nameControl?.hasError('required') && (nameControl.touched || nameControl.dirty)">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- Description -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Description</mat-label>
      <input matInput [formControl]="descriptionControl" [readonly]="viewOnly"/>
      <button *ngIf="descriptionControl.value && !viewOnly" matSuffix mat-icon-button aria-label="Clear"
              (click)="clearDescription()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- Resource Types -->
    <div *ngIf="selectedResourceTypesControl.value?.length > 0" class="selected-resource-types">
      <strong>Selected Resource Types: </strong> {{ selectedResourceTypesControl.value.join(', ') }}
    </div>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Select Resource Types</mat-label>
      <input
        matInput
        placeholder="Start typing to search"
        [formControl]="resourceTypeControl"
        [matAutocomplete]="auto"
        (keydown)="onInputKeydown($event)"
        (mousedown)="userClicked = true"
        [readonly]="viewOnly"
        (focus)="openAutocompletePanel()"
      />

      <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption="">
        <mat-option *ngFor="let type of filteredResourceTypes" [value]="type">
          <mat-checkbox [checked]="selectedResourceTypesControl.value?.includes(type)"
            (click)="$event.stopPropagation()"
            (change)="toggleSelection(type, $event.source.checked)">
            {{ type }}
          </mat-checkbox>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div class="validation-error" *ngIf="selectedResourceTypesControl.hasError('required')">
      Resource Type is <strong>required</strong>
    </div>

    <!-- Target Fhir Path -->
    <div class="form-row">
      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Target FHIR path</mat-label>
        <input matInput formControlName="targetFhirPath" [readonly]="viewOnly"/>
        <button *ngIf="targetFhirPathControl.value && !viewOnly" matSuffix mat-icon-button aria-label="Clear" (click)="clearTargetFhirPath()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="targetFhirPathControl.hasError('required') && (targetFhirPathControl.touched || targetFhirPathControl.dirty)">
          Fhir path is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- Target Value -->
      <mat-form-field appearance="fill" class="half-width">
        <mat-label>Target Value</mat-label>
        <input matInput formControlName="targetValue" [readonly]="viewOnly"/>
        <button *ngIf="targetValueControl.value && !viewOnly" matSuffix mat-icon-button aria-label="Clear" (click)="clearTargetValue()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="targetValueControl.hasError('required') && (targetValueControl.touched || targetValueControl.dirty)">
          Value is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Conditions -->
    <h2 class="section-title">Conditions</h2>
    <div class="condition-section" formArrayName="conditions">
      <div *ngFor="let condition of conditions.controls; let i = index" [formGroupName]="i" class="condition-block">
        <mat-form-field appearance="outline" class="third-width">
          <mat-label>Condition FHIRPathSource</mat-label>
          <input matInput formControlName="FhirPathSource">
          <mat-error *ngIf="condition.get('FhirPathSource')?.hasError('required')">Fhir Source Path is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="third-width">
          <mat-label>Operator*</mat-label>
          <mat-select formControlName="operator">
            <mat-option *ngFor="let op of operatorList" [value]="op.value">{{ op.label }}</mat-option>
          </mat-select>
          <mat-error *ngIf="condition.get('operator')?.hasError('required')">Operator is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="third-width">
          <mat-label>Value (optional)</mat-label>
          <input matInput formControlName="value">
        </mat-form-field>

        <button *ngIf="!viewOnly" mat-icon-button color="warn" matTooltip="Delete Condition" (click)="removeCondition(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <div class="add-condition-btn">
        <button type="button" *ngIf="!viewOnly" mat-stroked-button color="primary" (click)="addCondition()" class="add-condition-btn">
          <mat-icon>add</mat-icon>Add Condition
        </button>
      </div>
    </div>
    <div *ngIf="form.get('conditions')?.hasError('atLeastOneRequired')" class="validation-error">
      At least one condition is required.
    </div>
    <!-- Enable/Disable checkbox -->
    <mat-checkbox formControlName="isEnabled">Enabled</mat-checkbox>

  </form>
</mat-card-content>
