<div class="content">

  <p>
    <mat-toolbar class="page-header-bar" color="primary">
      <span>Measure Definition Dashboard</span>
      <button mat-mini-fab aria-label="Create a new measure definition dialog" matTooltip="Create Measure Definition" (click)="showCreateMeasureDefinitionDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-toolbar>
  </p>

  <div class="measure-def-table-container" *ngIf="measureDefinitions.length > 0;else no_measure_def_found">

    <table mat-table [dataSource]="measureDefinitions">

      <!-- Id Column -->
      <ng-container matColumnDef="measureDefinitionId">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let measureDef">
          <a [routerLink]="['/measure-def', measureDef.bundleId]">{{measureDef.bundleId}}</a>
        </td>
      </ng-container>

      <!-- measureDefinitionId Id Column -->
      <ng-container matColumnDef="measureDefinitionName">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let measureDef"> {{measureDef.bundleName}} </td>
      </ng-container>

      <!-- Scheduled Tasks Column -->
      <ng-container matColumnDef="url">
        <th mat-header-cell *matHeaderCellDef> Url </th>
        <td mat-cell *matCellDef="let measureDef"> {{measureDef.url}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
  <ng-template #no_measure_def_found>
    <div class="no-results-found-container">
      <span>No measure definition found.</span>
    </div>
  </ng-template>

</div>
