<div class="menu-container"
     [ngClass]="{
       'priority-invert': priority === 'Critical' || priority === 'High'
     }"
  (clickOutside)="isOpen = false">
  <button
    class="menu-button"
    (click)="toggleMenu()"
    aria-haspopup="true"
    [attr.aria-expanded]="isOpen">
    <fa-icon [icon]="faEllipsisV"></fa-icon>
  </button>

  @if (isOpen) {
    <ul class="menu-dropdown" role="menu" @dropdownAnimation>
      <li role="none"><button role="menuitem" class="menu-item" (click)="showLogDetails()"><fa-icon [icon]="faInfoCircle"></fa-icon> Details</button></li>
      @if (isExecuteEligible) {
        <li role="none"><button type="button" role="menuitem" class="menu-item" (click)="executeLog()"><fa-icon [icon]="faPlay"></fa-icon> Execute</button></li>
      }
      @if (isCancelEligible) {
        <li role="none"><button role="menuitem" class="menu-item" (click)="cancelLog()"><fa-icon [icon]="faBan"></fa-icon> Cancel</button></li>
      }
    </ul>
  }
</div>