# Ignore Maven build artifacts
target/
*.iml

# Ignore IDE-specific files and directories
.idea/
.vscode/

# Ignore Docker-related files
validation/Dockerfile.validation
docker-compose.yml

# Ignore version control system files
.git/
.gitignore