<h1 mat-dialog-title class="dialog-form-header">{{dialogTitle}}</h1>
<div mat-dialog-content>
  <app-measure-def-config-form [viewOnly]="viewOnly" [formMode] = "formMode" [item]="measureDefConfig" (formValueChanged)="onFormValueChanged($event)" (submittedConfiguration)="onSubmittedConfiguration($event)"></app-measure-def-config-form>
</div>
<div mat-dialog-actions align="end">
  <button *ngIf="!viewOnly" mat-raised-button color="primary" [disabled]="formIsInvalid || !!processing" (click)="submitConfiguration()">
    <mat-icon>{{ formMode == FormMode.Create ? 'save' : 'save_as' }}</mat-icon>
    {{ formMode == FormMode.Create ? 'Create' : 'Update' }} Measure Definition Configuration

    <ng-container *ngIf="!!processing">
      <mat-icon><mat-spinner diameter="20"></mat-spinner></mat-icon>
    </ng-container>

  </button>
  <button mat-raised-button mat-dialog-close>Close</button>
</div>

