logging:
  level:
    com.lantanagroup.link: debug

server:
  port: 5135

telemetry:
  exporterEndpoint: http://localhost:55690

loki:
  enabled: true
  url: http://localhost:3100

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false

spring:

  application:
    name: measureeval

  data:
    mongodb:
      host: localhost
      port: 27017
      database: ${spring.application.name}

  jackson:
    mapper:
      accept-case-insensitive-enums: true
      accept-case-insensitive-properties: true
      default-view-inclusion: false

  kafka:
    bootstrap-servers: localhost:9092

    consumer:
      group-id: ${spring.application.name}

    producer:
      client-id: ${spring.application.name}

    retry:
      maxAttempts: 3
      retry-backoff-ms: 3000

link:
  reportability-predicate: com.lantanagroup.link.measureeval.reportability.IsInInitialPopulation

  data-acquisition:
    base-url: http://localhost:5194
    routes:
      query-result:
        path: /api/data/{facilityId}/QueryResult/{correlationId}
        query:
          - queryType={queryType}

secret-management:
  key-vault-uri:

authentication:
  anonymous: false
  authority: ''
