<div class="content">
  <mat-toolbar class="page-header-bar" color="primary">
    <span>Link Integration Testing</span>
  </mat-toolbar>

  <mat-card class="resource-card">
    <mat-card-content>
      <form [formGroup]="eventForm">
        <div class="input-container">
          <mat-form-field class="form-select" appearance="outline">
            <mat-label>Event</mat-label>
            <mat-select formControlName="event">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let event of events" [value]="event">
                {{event}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="eventControl.hasError('required')">
              Event is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </form>

      <!-- Event Forms -->
      <app-report-scheduled-form (eventGenerated)="onEventGenerated($event)" *ngIf="showReportScheduledForm"></app-report-scheduled-form>
      <app-patient-event-form (eventGenerated)="onEventGenerated($event)" *ngIf="showPatientEventForm"></app-patient-event-form>
      <app-data-acquisition-reqeusted-form (eventGenerated)="onEventGenerated($event)" *ngIf="showDataAcquisitionRequestedForm"></app-data-acquisition-reqeusted-form>

    </mat-card-content>
  </mat-card>
    
  <mat-card class="process-card" *ngIf="showProcessCard">
    <mat-card-header>
      Monitoring audit events for correlation id  '{{correlationId}}' &nbsp;&nbsp;<mat-spinner [diameter]="20" *ngIf="isMonitoring"></mat-spinner>
      <button mat-mini-fab color="warn" (click)="stopPollingAuditEvents()" style="margin-left: auto;" title="Stop Monitoring">
        <mat-icon>stop</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content [@listAnimation]="auditEvents.length">
      <mat-card class="process-card" *ngFor="let audit of auditEvents">
        <mat-card-content>
          <pre>{{ audit | json }}</pre>
        </mat-card-content>
      </mat-card>

    </mat-card-content>
  </mat-card>

</div>
