<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSourceCredentials>
		<Shared_BOTW_Feed>
			<add key="Username" value="unnecessary" />
			<add key="ClearTextPassword" value="__ClearTextPassword__" />
			<add key="ValidAuthenticationTypes" value="basic" />
		</Shared_BOTW_Feed>
	</packageSourceCredentials>
</configuration>