@if (facilityConfigForm) {
  <form [formGroup]="facilityConfigForm" class="dialog-form">
    <div class="form-input">
      <mat-form-field appearance="outline" class="subject-input form-input ">
        <mat-label>Facility Id</mat-label>
        <input matInput formControlName="facilityId" [disabled]="viewOnly">
        @if (facilityIdControl.value && !viewOnly) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="clearFacilityId()">
            <mat-icon>close</mat-icon>
          </button>
        }
        @if (facilityIdControl.hasError('required')) {
          <mat-error>
            A facility id is <strong>required</strong>
          </mat-error>
        }
        @if (facilityIdControl.hasError('invalidFacilityId') && facilityIdControl.touched) {
          <mat-error>
            {{ facilityIdControl.getError('invalidFacilityId') }}
          </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="form-input">
      <mat-form-field appearance="outline" class="subject-input form-input ">
        <mat-label>Facility Name</mat-label>
        <input matInput formControlName="facilityName" [disabled]="viewOnly">
        @if (facilityNameControl.value && !viewOnly) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="clearFacilityName()">
            <mat-icon>close</mat-icon>
          </button>
        }
        @if (facilityNameControl.hasError('required')) {
          <mat-error>
            A facility name is <strong>required</strong>
          </mat-error>
        }
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Timezone</mat-label>
      <mat-select formControlName="timeZone" [placeholder]="'Select Timezone'" [disabled]="viewOnly">
        @for (timezone of timezones; track timezone) {
          <mat-option [disabled]="viewOnly" [value]="timezone">
            {{ timezone }}
          </mat-option>
        }
      </mat-select>
      @if (timeZoneControl.hasError('required')) {
        <mat-error>
          Timezone is required
        </mat-error>
      }
    </mat-form-field>

    <div class="scheduled-reports-container">
      <span class="title">Scheduled Reports</span>

      <mat-form-field class="form-select" appearance="outline">
        <mat-label>Monthly</mat-label>
        <mat-select formControlName="monthlyReports" [disabled]="viewOnly" [compareWith]="compareReportTypes" multiple>
          @for (type of reportTypes; track type) {
            <mat-option [disabled]="viewOnly" [value]="type">
              {{type}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-select" appearance="outline">
        <mat-label>Daily</mat-label>
        <mat-select formControlName="dailyReports" [disabled]="viewOnly" [compareWith]="compareReportTypes" multiple>
          @for (type of reportTypes; track type) {
            <mat-option [disabled]="viewOnly" [value]="type">
              {{type}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-select" appearance="outline">
        <mat-label>Weekly</mat-label>
        <mat-select formControlName="weeklyReports" [disabled]="viewOnly" [compareWith]="compareReportTypes" multiple>
          @for (type of reportTypes; track type) {
            <mat-option [disabled]="viewOnly" [value]="type">
              {{type}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    @if (reportsNotUniqueError && !viewOnly && (this.facilityConfigForm.touched || this.facilityConfigForm.dirty)) {
      <div>
        <small class="error">{{ reportsNotUniqueError }}</small>
      </div>
    }

    @if (noReportsEntered && !viewOnly &&  (this.facilityConfigForm.touched || this.facilityConfigForm.dirty)) {
      <div>
        <small class="error">{{ noReportsEntered }}</small>
      </div>
    }

  </form>
}
