<form [formGroup]="eventForm">

  <div class="content">
    <mat-toolbar class="page-header-bar" color="primary">
      <span>Link Integration Testing</span>
    </mat-toolbar>

    <mat-card class="resource-card">
      <mat-card-content>
        <div class="input-container">
            <mat-form-field  class="form-select" appearance="outline">
              <mat-label>Facility</mat-label>
              <mat-select [disabled] = "isTestRunning" formControlName="facilityId">
                <mat-option *ngFor="let facility of facilities | keyvalue" [value]="facility.key">
                  {{facility.value}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="facilityIdControl.hasError('required')">
                Facility is <strong>required</strong>
              </mat-error>
            </mat-form-field>
        </div>
        <div *ngIf="isLoading; else buttonContent" class="spinner-container">
          <mat-progress-spinner
            color="primary"
            mode="indeterminate"
            diameter="50">
          </mat-progress-spinner>
        </div>
        <ng-template #buttonContent>
          <button mat-raised-button
                  color="primary"
                  (click)="onToggleTest()"
                  [disabled]="isLoading || eventForm.invalid">
            {{ isTestRunning ? 'Stop Test' : 'Start Test' }}
          </button>
        </ng-template>
      </mat-card-content>
    </mat-card>

    <mat-card class="resource-card" *ngIf="isTestRunning && consumersDataOutput.size > 0">
      <mat-card-content>
        <div class="table-container">
          <table class="table" border="1" cellspacing="0" cellpadding="4">
            <thead>
            <tr>
              <th>Topic</th>
              <th>Correlation ID</th>
              <th>Error Message</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let entry of displayedEntries">
              <ng-container *ngIf="entry[1]?.length > 0; else noItems">
                <tr *ngFor="let item of entry[1]; let i = index">
                  <td *ngIf="i === 0" [attr.rowspan]="entry[1].length"
                      [style.color]="entry[0]?.includes('Error') ? 'red' : 'black'">
                    {{ entry[0] }}
                  </td>
                  <td>{{ item?.CorrelationId }}</td>

                  <td class="error-message">
                    <ng-container *ngIf="entry[0]?.includes('Error') && item.ErrorMessage; else noError">
                      <mat-expansion-panel class="error-panel"
                                           [expanded]="isPanelOpen(item.correlationId)"
                                           (opened)="togglePanel(item.correlationId, true)"
                                           (closed)="togglePanel(item.correlationId, false)">
                        <mat-expansion-panel-header>
                          <mat-panel-title class="error-text">
                            {{ item.ErrorMessage | slice:0:100 }}
                            <span *ngIf="item.ErrorMessage?.length > 100">...</span>
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p class="error-text">{{ item.ErrorMessage }}</p>
                      </mat-expansion-panel>
                    </ng-container>
                    <ng-template #noError></ng-template>
                  </td>
                </tr>
              </ng-container>
              <ng-template #noItems>
                <tr>
                  <td [style.color]="entry[0]?.includes('Error') ? 'red' : 'black'">
                    {{ entry[0] }}
                  </td>
                  <td colspan="2"></td>
                </tr>
              </ng-template>
            </ng-container>
            </tbody>
          </table>
        </div>
      </mat-card-content>
    </mat-card>


    <mat-card class="resource-card" *ngIf="isTestRunning &&  consumersDataOutput.size > 0">
      <mat-card-content>
        <!-- Event Forms -->
        <app-report-scheduled-form [facilityId]="facilityId" [reportTrackingId]="reportTrackingId" (eventGenerated)="onEventGenerated($event)"
                                   *ngIf="showReportScheduledForm"></app-report-scheduled-form>
        <app-patient-acquired-form [facilityId]="facilityId" [reportTrackingId]="reportTrackingId" (eventGenerated)="onEventGenerated($event)"
                                   *ngIf="showPatientsAcquiredForm"></app-patient-acquired-form>
      </mat-card-content>
    </mat-card>

  </div>
</form>
