<div class="content">
  <p>
    <mat-toolbar class="page-header-bar" color="primary">
      <span *ngIf="facilityConfig">Facility: {{ facilityConfig.facilityId }}</span>
      <button mat-raised-button aria-label="Navigate to Tenant Dashboard" matTooltip="Back to Tenant Dashboard"
              [routerLink]="['/tenant']">
        <mat-icon>arrow_back</mat-icon>
        Back
      </button>
    </mat-toolbar>
  </p>

  <mat-card *ngIf="facilityConfig">
    <mat-card-content>
      <app-facility-config-form [viewOnly]="true" [item]="facilityConfig"></app-facility-config-form>
      <mat-card-actions align="end">
        <button mat-mini-fab aria-label="Edit facility" matTooltip="Edit Facility" (click)="showFacilityDialog()">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>

  <div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
  </div>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel id="censusPanel" (opened)="loadCensusConfig()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Census Configuration
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-link-alert [type]="linkNoConfigAlertType" [message]="noCensusConfigAlertMessage"
                      *ngIf="showNoCensusConfigAlert"></app-link-alert>
      <app-census-config-form [item]="censusConfig" [viewOnly]="true"></app-census-config-form>
      <mat-action-row>
        <button mat-mini-fab aria-label="Add census configuration" matTooltip="Add census configuration"
                (click)="showCensusDialog()" *ngIf="showNoCensusConfigAlert">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-mini-fab aria-label="Edit census configuration" matTooltip="Edit census configuration"
                (click)="showCensusDialog()" *ngIf="!showNoCensusConfigAlert">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel id="dataacqPanel" (opened)="loadDataAcquisitionConfig()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Data Acquisition Configuration
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-tab-group>
        <mat-tab label="Fhir Query" id="fhirQueryTab" (opened)="loadFhirQueryConfig()">
          <app-link-alert [type]="linkNoConfigAlertType" [message]="noDataAcqFhirQueryConfigAlertMessage"
                          *ngIf="showNoDataAcqFhirQueryConfigAlert"></app-link-alert>
          <app-data-acquisition-fhir-query-config-form [item]="dataAcqFhirQueryConfig"
                                                       [viewOnly]="true"></app-data-acquisition-fhir-query-config-form>
          <mat-action-row>
            <button mat-mini-fab aria-label="Add Fhir Resource Query configuration"
                    matTooltip="Add Fhir Resource Query configuration" (click)="showDataAcqFhirQueryDialog()"
                    *ngIf="showNoDataAcqFhirQueryConfigAlert">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-mini-fab aria-label="Edit Fhir Resource Query configuration"
                    matTooltip="Edit Fhir Resource Query configuration" (click)="showDataAcqFhirQueryDialog()"
                    *ngIf="!showNoDataAcqFhirQueryConfigAlert">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-action-row>
        </mat-tab>
        <mat-tab label="Fhir List" (opened)="loadFhirListConfig()">
          <app-link-alert [type]="linkNoConfigAlertType" [message]="noDataAcqFhirListConfigAlertMessage"
                          *ngIf="showNoDataAcqFhirListConfigAlert"></app-link-alert>
          <app-data-acquisition-fhir-list-config-form [item]="dataAcqFhirListConfig"
                                                      [viewOnly]="true"></app-data-acquisition-fhir-list-config-form>
          <mat-action-row>
            <button mat-mini-fab aria-label="Add Fhir List configuration" matTooltip="Add Fhir List configuration"
                    (click)="showDataAcqFhirListDialog()" *ngIf="showNoDataAcqFhirListConfigAlert">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-mini-fab aria-label="Edit Fhir List configuration" matTooltip="Edit Fhir List configuration"
                    (click)="showDataAcqFhirListDialog()" *ngIf="!showNoDataAcqFhirListConfigAlert">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-action-row>
        </mat-tab>
        <mat-tab label="Query Plan">
          <app-link-alert [type]="linkNoConfigAlertType" [message]="noDataAcqQueryPlanConfigAlertMessage"
                          *ngIf="showNoDataAcqQueryPlanConfigAlert"></app-link-alert>
          <app-query-plan-config-form [item]="dataAcqQueryPlanConfig" [viewOnly]="true"
                                      (planSelected)="onPlanSelected($event)"></app-query-plan-config-form>
          <mat-action-row>
            <button mat-mini-fab aria-label="Add Query Plan configuration" matTooltip="Add Query Plan configuration"
                    (click)="showDataAcqQueryPlanDialog()" *ngIf="showNoDataAcqQueryPlanConfigAlert">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-mini-fab aria-label="Edit Query Plan configuration" matTooltip="Edit Query Plan configuration"
                    (click)="showDataAcqQueryPlanDialog()" *ngIf="!showNoDataAcqQueryPlanConfigAlert">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-action-row>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>

   <!-- <mat-expansion-panel id="normalizationPanel" (opened)="loadNormalization()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Normalization Configuration
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-link-alert [type]="linkNoConfigAlertType" [message]="noNormalizationConfigAlertMessage"
                      *ngIf="showNoNormalizationConfigAlert"></app-link-alert>
      <app-normalization-form [item]="normalizationConfig" [viewOnly]="true"></app-normalization-form>
    </mat-expansion-panel>-->

    <mat-expansion-panel id="operationsPanel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Operation Configuration
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-operations-list [items]="operations" [facilityId]="facilityId"></app-operations-list>
      <mat-action-row>
        <mat-menu #addMenu="matMenu" class="custom-menu">
          <button mat-menu-item (click)="showOperationDialog(OperationType.CopyProperty)">
            <mat-icon>content_copy</mat-icon>
            <span>Add Copy Property</span>
          </button>
          <button mat-menu-item (click)="showOperationDialog(OperationType.CodeMap)">
            <mat-icon>code</mat-icon>
            <span>Add Code Map</span>
          </button>
          <button mat-menu-item (click)="showOperationDialog(OperationType.ConditionalTransform)">
            <mat-icon>transform</mat-icon>
            <span>Add Conditional Transformation</span>
          </button>
        </mat-menu>
        <button mat-fab color="primary" [matMenuTriggerFor]="addMenu" matTooltip="Add Operation">
          <mat-icon>add</mat-icon>
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>


