<div class="content">

  <div style="width: 100%; display: flex; justify-content: flex-end;">
    <button class="link-button light" (click)="navBack()">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
      Back
    </button>
  </div>
  <div class="link-card">
    <div class="split-container">
      <div class="left-pane">
        <div class="data-label">
          Facility
          <span class="data-value">{{facilityConfig?.facilityName}}</span>
        </div>
        <div class="data-label">
          TimeZone
          <span class="data-value selectable-value">{{facilityConfig?.timeZone}}</span>
        </div>
      </div>
      <div class="right-pane">
        <div class="table-container" style="box-shadow: none;" *ngIf="scheduledReports?.length > 0">
          <table class="link-table">
            <thead class="table-head">
              <tr>
                <th class="header-column">Cadence</th>
                <th class="header-column">Measures</th>
              </tr>
            </thead>
            <tbody class="table-body no-hover-bg">
              <ng-container *ngFor="let report of scheduledReports">
                <tr>
                  <td class="table-cell"> 
                    <span [ngClass]="{
                        'monthly-frequency': report.cadence === 'Monthly',
                        'weekly-frequency': report.cadence === 'Weekly',
                        'daily-frequency': report.cadence === 'Daily',
                        'adhoc-frequency': report.cadence === 'Adhoc'
                    }">{{report.cadence}}</span>
                  </td>
                  <td class="table-cell">
                    <ul class="report-type-list no-bullets">
                      <li *ngFor="let measure of report.measures">{{measure}}</li>
                    </ul>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <p>
    <mat-toolbar class="page-header-bar page-secondary-bar">
      <span>Reports</span>
      <button class="link-button light" (click)="onRefresh()">
        <fa-icon [icon]="faRotate"></fa-icon>
        Refresh
      </button>
    </mat-toolbar>
  </p>
  <div *ngIf="reportListSummary.length > 0; else noResultsFoundTemplate">
    <div class="table-container">
      <table class="link-table">
        <thead>
          <tr>
            <th class="header-column">Report ID</th>
            <th class="header-column">Reporting Period</th>
            <th class="header-column">Query Plan</th>
            <th class="header-column">Reporting Cadence</th>
            <th class="header-column">Measures</th>
            <th class="header-column">Patients in Census</th>
            <th class="header-column">Patients in IP</th>
            <th class="header-column">Status</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <ng-container *ngFor="let report of reportListSummary">
            <tr>
              <td class="table-cell"><a [routerLink]="['/tenant/facility', facilityId, 'report', report.id]">{{report.id}}</a></td>
              <td class="table-cell">
                <span class="report-period-col"><label>Start</label>: {{report.reportStartDate}}</span>
                <span class="report-period-col"><label>End</label>: &nbsp;&nbsp;{{report.reportEndDate}}</span>
              </td>
              <td class="table-cell">TODO</td>
              <td class="table-cell">
                <span
                    [ngClass]="{
                        'monthly-frequency': report.frequency === 'Monthly',
                        'weekly-frequency': report.frequency === 'Weekly',
                        'daily-frequency': report.frequency === 'Daily',
                        'adhoc-frequency': report.frequency === 'Adhoc'
                    }"
                >{{report.frequency}}</span>
              </td>
              <td class="table-cell"><ul class="report-type-list no-bullets"><li *ngFor="let type of report.reportTypes">{{type}}</li></ul></td>
              <td class="table-cell">{{report.censusCount}}</td>
              <td class="table-cell">{{report.initialPopulationCount}}</td>
              <td class="table-cell">
                <span
                    [ngClass]="{
                        'status-pending': report.submitted == false,
                        'status-submitted': report.submitted == true                           
                    }"
                >{{report.submitted ? 'Submitted' : 'Pending'}}</span>
                <span style="display: block; margin-top: 1em;" *ngIf="report.submitted">{{report.submitDate | date}}</span>               
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <mat-paginator
        [length]="paginationMetadata.totalCount"
        [pageIndex]="paginationMetadata.pageNumber"
        [pageSize]="paginationMetadata.pageSize"
        [pageSizeOptions]="[5, 10, 20]"
        (page)="pagedEvent($event)"
        showFirstLastButtons
        aria-label="Select page of report summaries">
      </mat-paginator>
    </div>
  </div>
  <ng-template #noResultsFoundTemplate>
    <div class="no-results">
      <h2 class="no-results-title">No Reports Found</h2>
      <p class="no-results-subtext">
          Try adjusting your filters or search keywords and try again.
      </p>
    </div>
  </ng-template>  
</div>


