<div class="content">
  <p>
      <mat-toolbar class="page-header-bar" color="primary">          
        <span>{{facilityId}}</span> 
        <button mat-mini-fab (click)="navBack()" matTooltip="Back to facility list">
          <mat-icon>arrow_back</mat-icon>          
        </button>
      </mat-toolbar>
  </p>

  <div class="split-container">
    <div class="left-pane">
      <div class="data-label">
        Facility
        <span class="data-value">{{facilityConfig?.facilityName}}</span>
      </div>
      <div class="data-label">
        TimeZone
        <span class="data-value selectable-value">{{facilityConfig?.timeZone}}</span>
      </div>      
    </div>
    <div class="right-pane">  
      <div class="table-container" *ngIf="scheduledReports?.length > 0">       
        <table class="link-table">
          <thead class="table-head">
            <tr>
              <th class="header-column">Cadence</th>
              <th class="header-column">Measures</th>              
            </tr>
          </thead>
          <tbody class="table-body">
            <ng-container *ngFor="let report of scheduledReports">
              <tr>
                <td class="table-cell">
                  <mat-chip [ngClass]="{
                    'daily-chip': report.cadence === 'Daily',
                    'weekly-chip': report.cadence === 'Weekly',
                    'monthly-chip': report.cadence === 'Monthly'
                  }">{{report.cadence}}</mat-chip>
                </td>
                <td class="table-cell">
                  <ul class="report-type-list no-bullets">
                    <li *ngFor="let measure of report.measures">{{measure}}</li>
                  </ul>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <p>
    <mat-toolbar class="page-header-bar page-secondary-bar">          
      <span>Reports</span> 
      <button mat-mini-fab matTooltip="Refresh report list summary" (click)="onRefresh()">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-toolbar>
  </p>
  <div *ngIf="reportListSummary.length > 0">
    <div class="table-container">    
      <table class="link-table">
        <thead>
          <tr>
            <th class="header-column">Report ID</th>
            <th class="header-column">Reporting Period</th>
            <th class="header-column">Query Plan</th>
            <th class="header-column">Reporting Cadence</th>
            <th class="header-column">Measures</th>
            <th class="header-column">Patients in Census</th>
            <th class="header-column">Patients in IP</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <ng-container *ngFor="let report of reportListSummary">
            <tr>
              <td class="table-cell"><a [routerLink]="['/tenant/facility', facilityId, 'report', report.id]">{{report.id}}</a></td>
              <td class="table-cell">
                <span class="report-period-col"><label>Start</label>: {{report.reportStartDate}}</span>
                <span class="report-period-col"><label>End</label>: &nbsp;&nbsp;{{report.reportEndDate}}</span>                
              </td>
              <td class="table-cell">TODO</td>
              <td class="table-cell">
                <mat-chip
                    [ngClass]="{
                        'monthly-chip': report.frequency === 'Monthly',
                        'weekly-chip': report.frequency === 'Weekly',
                        'daily-chip': report.frequency === 'Daily',
                        'adhoc-chip': report.frequency === 'Adhoc'
                    }"
                >{{report.frequency}} 
                </mat-chip>
              </td>
              <td class="table-cell"><ul class="report-type-list no-bullets"><li *ngFor="let type of report.reportTypes">{{type}}</li></ul></td>
              <td class="table-cell">{{report.censusCount?.admittedPatients}}</td>
              <td class="table-cell">{{report.initialPopulationCount}}</td>
            </tr>
            <tr class="submission-row" *ngIf="report.submitted">
              <td class="table-cell" colspan="7">
                Report submitted on {{report.submitDate | date}}.
              </td>
            </tr> 
          </ng-container>
        </tbody>
      </table>     
      <mat-paginator 
        [length]="paginationMetadata.totalCount"
        [pageIndex]="paginationMetadata.pageNumber"
        [pageSize]="paginationMetadata.pageSize"
        [pageSizeOptions]="[5, 10, 20]"
        (page)="pagedEvent($event)"
        showFirstLastButtons
        aria-label="Select page of report summaries">
      </mat-paginator>
    </div>
  </div>
</div>


