@use '../../../../styles/core.scss';

.content {
  margin: 2em;
}

.page-header-bar button {
  margin-left: auto;
}

.filter-fields {
  display: flex;
  align-items: flex-start;
  column-gap: 10px;
}

.tenant-table-container {
  border: solid 1px rgba(0, 0, 0, 0.12);
}

.row-expansion-btn {
    float: right;
}

.table-record-detail {
  overflow: hidden;
  display: flex;
}

.table-record-description {
  padding: 1em;
}

.table-record-expanded-heading {
    font-size: 1.1em;
    font-weight: 400;
}

tr.table-record-row {
  height: 0;
}

tr.table-record-row:hover {
  cursor: pointer;
}

tr.table-record-row:not(.example-expanded-row):hover {
  /*background: whitesmoke;*/
}

tr.table-record-row:not(.example-expanded-row):active {
  /*background: #efefef;*/
}

.table-record-row td {
  border-bottom-width: 0;
}

.mat-column-expand {
  width: 24px;
}
