<mat-card class="upload-card">
  <mat-card-title>Upload Measure Definition</mat-card-title>
  <mat-card-content>
    <div class="form-layout">
      <!-- File Upload Field -->
      <div class="form-section">
        <mat-label class="form-label">Measure Definition Bundle</mat-label>
        <file-upload (fileChange)="loadFile($event)">Upload</file-upload>
        @if (errorMessage) {
          <mat-error class="error-text">
            <mat-icon>error</mat-icon>
            {{ errorMessage }}
          </mat-error>
        }
      </div>

      <!-- Display Bundle Id -->
      @if (configForm.get('bundleId')?.value; as bundleId) {
        <div class="form-section">
          <mat-label class="form-label">Measure Definition Id</mat-label>
          <div class="name">{{ bundleId }}</div>
        </div>
      }
    </div>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-raised-button color="primary" [disabled]="configForm.invalid" (click)="submitConfiguration()">
      <mat-icon>save</mat-icon>
      Upload Measure Definition Bundle
    </button>
  </mat-card-actions>
</mat-card>
<!-- Measure Definition -->
<mat-card class="upload-card">
  <mat-card-content>
    <table mat-table [dataSource]="measureDefinitions" class="mat-elevation-z2" style="width: 100%;">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID</th>
        <td mat-cell *matCellDef="let element"> {{ element.id }}</td>
      </ng-container>

      <!-- Version Column -->
      <ng-container matColumnDef="version">
        <th mat-header-cell *matHeaderCellDef> Version</th>
        <td mat-cell *matCellDef="let element"> {{ element.version }}</td>
      </ng-container>

      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </mat-card-content>
</mat-card>
