<div class="input-container list-item-container">
  <p>
    <mat-toolbar class="page-header-bar" color="primary">
      <span>Upload Measure Definition</span>
    </mat-toolbar>
  </p>
  <form [formGroup]="configForm" class="dialog-form">
    <div class="form-input">
      <mat-label style="font-weight: 600;">Bundle</mat-label>
      <file-upload (fileChange)="loadFile($event)">Upload</file-upload>
    </div>
    <div class="form-input">
      <mat-form-field appearance="outline" class="subject-input form-input">
        <mat-label class="form-label-bold">Bundle Id</mat-label>
        <input matInput formControlName="bundleId">
        <mat-error *ngIf="bundleId.hasError('required') && configForm.get('bundleId')?.touched">
          A Bundle id is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <mat-error>
      <span *ngIf="invalidBundleId">Bundle Id should match the Id in the uploaded bundle</span>
    </mat-error>
  </form>
  <div mat-dialog-actions align="center">
    <button mat-raised-button color="primary" [disabled]="this.configForm.invalid" (click)="submitConfiguration()">
      <mat-icon>save</mat-icon>
      Upload Measure Definition Bundle
    </button>
  </div>
  <mat-error *ngIf="errorMessage" class="text-danger mt-2">
    <mat-icon>error</mat-icon> {{ errorMessage }}
  </mat-error>
</div>
