trigger:
  branches:
    include:
    - dev
  paths:
    include:
    - Java/validation/*
    - Java/shared/*
    exclude:
    - '*'
    
pr: none

pool:
  vmImage: 'ubuntu-latest'

variables:
- group: Link_BOTW_Build_Package_Variables
- name: tags1
  value: 'latest'
- name: tags2
  value: '$(Build.BuildId)'
- name: registry-repo-Name
  value: 'link-validation'
- name: dockerPath
  value: 'Java/validation/Dockerfile'
- name: serviceName
  value: 'Validation'
- name: containerRegistry
  value: 'NHSNLink ACR Premium'

steps:
  - task: JavaToolInstaller@0
    inputs:
      versionSpec: '17'
      jdkArchitectureOption: 'x64'
      jdkSourceOption: 'PreInstalled'

  - task: Maven@2
    displayName: Maven Install
    env:
      SHARED_BOTW_FEED_TOKEN: $(SHARED_BOTW_FEED_TOKEN)
    inputs:
      mavenPomFile: 'Java/validation/pom.xml'
      goals: install
      options: '-s Java/validation/.m2/settings.xml'

  - task: Docker@2
    displayName: "Build Docker Image"
    inputs:
      containerRegistry: $(containerRegistry)
      repository: $(registry-repo-name)
      command: build
      Dockerfile: $(dockerPath)
      arguments: '--build-arg SHARED_BOTW_FEED_TOKEN_ARG=$(SHARED_BOTW_FEED_TOKEN)'
      tags: |
        $(tags1)
        $(tags2)
      buildContext: 'Java/validation'

  - task: Docker@2
    displayName: "Push Docker Image"
    inputs:
      containerRegistry: $(containerRegistry)
      repository: $(registry-repo-name)
      command: push
      tags: |
        $(tags1)
        $(tags2)

  - task: PublishPipelineArtifact@1
    inputs:
      targetPath: '$(Build.ArtifactStagingDirectory)'
      artifact: 'manifest'
