<form [formGroup]="eventRequestedForm">
  <div class="input-container">
    <mat-form-field class="form-input" appearance="outline">
      <mat-label>Facility</mat-label>
      <input matInput formControlName="facilityId">
      <mat-error *ngIf="facilityIdControl.hasError('required')">
        Facility is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="input-container">
    <mat-form-field class="form-select" appearance="outline">
      <mat-label>Report Type</mat-label>
      <mat-select formControlName="reportType" [compareWith]="compareReportTypes">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let type of reportTypes" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="reportTypeControl.hasError('required')">
        Report Type is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="input-container">
    <mat-form-field class="form-input" appearance="outline">
      <mat-label>Start Date</mat-label>
      <input matInput formControlName="startDate" [matDatepicker]="startDatePicker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
      <mat-error *ngIf="startDateControl.hasError('required')">
        Report Start Date is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="input-container">
    <mat-form-field class="form-input" appearance="outline">
      <mat-label>End Date</mat-label>
      <input matInput formControlName="endDate" [matDatepicker]="endDatePicker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
      <mat-error *ngIf="endDateControl.hasError('required')">
        Report End Date is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
</form>

<div class="form-bar">
  <button mat-raised-button color="primary" [disabled]="eventRequestedForm.invalid" (click)="generateEvent()">
    <mat-icon>event</mat-icon>
    Generate Event
  </button>
</div>
