<table mat-table [dataSource]="operations" class="mat-elevation-z2 full-width-table">

  <!-- Operation Type Column -->
  <ng-container matColumnDef="operationType">
    <th mat-header-cell *matHeaderCellDef>Operation Type</th>
    <td mat-cell *matCellDef="let op">{{ op.operationType }}</td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let op">{{ op.description }}</td>
  </ng-container>

  <!-- Resource Types Column -->
  <ng-container matColumnDef="resourceTypes">
    <th mat-header-cell *matHeaderCellDef>Resource Types</th>
    <td mat-cell *matCellDef="let op">
      <ng-container  *ngIf="op.resourceTypes?.length; else noTypes">
        <ng-container *ngFor="let resourceType of op.resourceTypes; let isLast = last">
        <span>{{ resourceType }}</span><span *ngIf="!isLast">, </span>
        </ng-container>
      </ng-container>
      <ng-template #noTypes>
        <span class="text-muted">None</span>
      </ng-template>
    </td>
  </ng-container>

  <!-- Is Disabled Column -->
  <ng-container matColumnDef="isDisabled">
    <th mat-header-cell *matHeaderCellDef>Disabled</th>
    <td mat-cell *matCellDef="let op">{{ op.isDisabled ? 'Yes' : 'No' }}</td>
  </ng-container>

  <!-- Operation JSON Column with Expansion -->
  <ng-container matColumnDef="operationJson">
    <th mat-header-cell *matHeaderCellDef> Operation JSON </th>

    <td mat-cell *matCellDef="let op">
      <button mat-icon-button  (click)="openJsonDialog(op)">
        <mat-icon>{{ op.showJson ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let op">
      <button
        mat-icon-button
        matTooltip="Edit Operation configuration"
        (click)="showOperationDialog(op)"
        aria-label="Edit operation">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Table Header and Row Declarations -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
