<div class="content">
    <p>
        <mat-toolbar class="page-header-bar" color="primary">
          <span *ngIf="facilityConfig">Facility: {{facilityConfig.facilityId}}</span>
          <button mat-raised-button aria-label="Navigate to Tenant Dashboard" matTooltip="Back to Tenant Dashboard" [routerLink]="['/tenant']">
            <mat-icon>arrow_back</mat-icon> Back
          </button>
        </mat-toolbar>
    </p>

    <mat-card *ngIf="facilityConfig">
        <mat-card-content>
            <app-facility-config-form [viewOnly]="facilityConfigFormViewOnly" [item]="facilityConfig"></app-facility-config-form>       
            <mat-card-actions align="end">                
                <button mat-mini-fab aria-label="Edit facility" matTooltip="Edit Facility" (click)="showFacilityDialog()">
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-card-actions>              
        </mat-card-content>
    </mat-card>

    <!-- <p>
        {{facilityConfig | json}}
    </p>     -->

    <div class="example-action-buttons">
        <button mat-button (click)="accordion.openAll()">Expand All</button>
        <button mat-button (click)="accordion.closeAll()">Collapse All</button>
      </div>
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel (opened)="loadCensusConfig()">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Census Configuration
            </mat-panel-title>
            <mat-panel-description>                
            </mat-panel-description>
          </mat-expansion-panel-header>     
          {{censusConfig | json}}
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Data Acquisition Configuration
            </mat-panel-title>
            <mat-panel-description>             
            </mat-panel-description>
          </mat-expansion-panel-header>     
          
          <mat-tab-group>
            <mat-tab label="Base"> 
                -- base configuration content 
            </mat-tab>
            <mat-tab label="Authentication"> 
                -- authentication configuration content
            </mat-tab>
            <mat-tab label="Query"> 
                -- query configuration content
            </mat-tab>
            <mat-tab label="Query Plans"> 
                -- Query plan content
            </mat-tab>
          </mat-tab-group>

        </mat-expansion-panel>
        
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Normalization Configuration
              </mat-panel-title>
              <mat-panel-description>             
              </mat-panel-description>
            </mat-expansion-panel-header>     
            -- stuff here
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Measure Evaluation Configuration
              </mat-panel-title>
              <mat-panel-description>             
              </mat-panel-description>
            </mat-expansion-panel-header>     
            -- stuff here
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Report Configuration
              </mat-panel-title>
              <mat-panel-description>             
              </mat-panel-description>
            </mat-expansion-panel-header>     
            -- stuff here
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Validation Configuration
              </mat-panel-title>
              <mat-panel-description>             
              </mat-panel-description>
            </mat-expansion-panel-header>     
            -- stuff here
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Submission Configuration
              </mat-panel-title>
              <mat-panel-description>             
              </mat-panel-description>
            </mat-expansion-panel-header>     
            -- stuff here
          </mat-expansion-panel>
        
      </mat-accordion>
      

</div>


