<div class="content">
    <p>
        <mat-toolbar class="page-header-bar" color="primary">
          <span>Facility: {{facilityConfig?.facilityId}}</span>
          <button mat-raised-button aria-label="Navigate to Tenant Dashboard" matTooltip="Back to Tenant Dashboard" [routerLink]="['/tenant']">
            <mat-icon>arrow_back</mat-icon> Back
          </button>
        </mat-toolbar>
    </p>

    <mat-card *ngIf="facilityConfig">
        <mat-card-content>
            <app-facility-config-form [viewOnly]="facilityConfigFormViewOnly" [item]="facilityConfig"></app-facility-config-form>       
            <mat-card-actions align="end">                
                <button mat-mini-fab aria-label="Edit facility" matTooltip="Edit Facility" (click)="showFacilityDialog()">
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-card-actions>              
        </mat-card-content>
    </mat-card>

    <p>
        {{facilityConfig | json}}
    </p>    

</div>


