<mat-toolbar color="primary">
  <button type="button"
          class="toggle-menu-btn"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
    <!-- toggleMenuText()-->
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span class="toolbar-divider">Link Administrative UI</span>
  <span class="example-spacer"></span>
  <span class="toolbar-divider"><theme-picker></theme-picker></span>
  <span class="user-profile toolbar-divider" *ngIf="userProfile?.email">
    <button mat-icon-button [matMenuTriggerFor]="userProfileMenu" aria-label="Access user profile options">
      <mat-icon class="profile-icon">account_circle</mat-icon>
    </button>
    <mat-menu #userProfileMenu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
    <span class="profile-name">
      {{ userProfile?.firstName }} {{ userProfile?.lastName }}
    </span>
  </span>

</mat-toolbar>
<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer mode="side" opened>
    <mat-nav-list *ngIf="!loginRequired || userProfile?.email">

      <!-- Main Dashboard -->
      <a mat-list-item routerLink="" routerLinkActive="active">
        <mat-icon matListItemIcon [ngClass]="{'close-menu-icon' : !showMenuText}">dashboard</mat-icon>
        <div class="side-nav-menu-title" matListItemTitle *ngIf="showMenuText">Dashboard</div>
      </a>

      <!-- Tenant/Facility Service Menu -->
      <a mat-list-item routerLink="tenant" routerLinkActive="active">
        <mat-icon matListItemIcon [ngClass]="{'close-menu-icon' : !showMenuText}">local_hospital</mat-icon>
        <div class="side-nav-menu-title" matListItemTitle *ngIf="showMenuText">Tenants</div>
      </a>

      <!-- Measure Definitions Menu -->
      <a mat-list-item routerLink="measure-def" routerLinkActive="active">
        <mat-icon matListItemIcon [ngClass]="{'close-menu-icon' : !showMenuText}">attach_file</mat-icon>
        <div class="side-nav-menu-title" matListItemTitle *ngIf="showMenuText">Measure Definitions</div>
      </a>

      <!-- Notification Service Menu -->
      <mat-accordion>
        <mat-expansion-panel style="box-shadow: none">
          <mat-expansion-panel-header style="margin-left: -8px">
            <mat-panel-title>
              <mat-icon>email</mat-icon>&nbsp;Notification
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="notification-configuration" routerLinkActive="active">
            <mat-icon matListItemIcon>settings</mat-icon>
            <div class="side-nav-menu-title" matListItemTitle *ngIf="showMenuText">Configuration</div>
          </a>
          <a mat-list-item routerLink="notification" routerLinkActive="active">
            <mat-icon matListItemIcon>email</mat-icon>
            <div class="side-nav-menu-title" matListItemTitle *ngIf="showMenuText">Notifications</div>
          </a>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- Audit Service Menu -->
      <a mat-list-item routerLink="audit" routerLinkActive="active">
        <mat-icon matListItemIcon [ngClass]="{'close-menu-icon' : !showMenuText}">feed</mat-icon>
        <div class="side-nav-menu-title" matListItemTitle *ngIf="showMenuText">Audit Log</div>
      </a>

      <!-- Account Service Menu -->
      <a mat-list-item routerLink="account" routerLinkActive="active">
        <mat-icon matListItemIcon [ngClass]="{'close-menu-icon' : !showMenuText}">manage_accounts</mat-icon>
        <div class="side-nav-menu-title" matListItemTitle *ngIf="showMenuText">Accounts</div>
      </a>

      <!-- Testing Menu -->
      <mat-accordion>
        <mat-expansion-panel style="box-shadow: none">
          <mat-expansion-panel-header style="margin-left: -8px">
            <mat-panel-title>
              <mat-icon>bug_report</mat-icon>&nbsp;Testing
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="integration-test" routerLinkActive="active">
            <mat-icon matListItemIcon>integration_instructions</mat-icon>
            <div class="side-nav-menu-title" matListItemTitle *ngIf="showMenuText">Integration Test</div>
          </a>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel style="box-shadow: none">
          <mat-expansion-panel-header style="margin-left: -8px">
            <mat-panel-title>
              <mat-icon>monitor_heart</mat-icon>&nbsp;Link Monitor
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="monitor/health" routerLinkActive="active">
            <mat-icon matListItemIcon>ecg_heart</mat-icon>
            <div class="side-nav-menu-title" matListItemTitle *ngIf="showMenuText">System Health</div>
          </a>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- Validation Config Menu -->
      <a mat-list-item routerLink="validation-config" routerLinkActive="active">
        <mat-icon matListItemIcon [ngClass]="{'close-menu-icon' : !showMenuText}">done_all</mat-icon>
        <div class="side-nav-menu-title" matListItemTitle *ngIf="showMenuText">Validation Config</div>
      </a>

      <a mat-list-item routerLink="themes" routerLinkActive="active">
        <mat-icon matListItemIcon [ngClass]="{'close-menu-icon' : !showMenuText}">palette</mat-icon>
        <div class="side-nav-menu-title" matListItemTitle *ngIf="showMenuText">Themes</div>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <!-- Add Content Here -->
    <app-loading-indicator></app-loading-indicator>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
