<div class="input-container list-item-container">
  <form [formGroup]="accountForm" class="dialog-form">
    <div class="form-input">
      <mat-form-field appearance="outline" class="subject-input form-input ">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" [readonly]="viewOnly">
        @if (firstName.value && !viewOnly) {
          <button matSuffix mat-icon-button aria-label="Clear">
            <mat-icon>close</mat-icon>
          </button>
        }
        @if (firstName.hasError('required')) {
          <mat-error>
            First Name is <strong>required</strong>
          </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="form-input">
      <mat-form-field appearance="outline" class="subject-input form-input ">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" [readonly]="viewOnly">
        @if (lastName.value && !viewOnly) {
          <button matSuffix mat-icon-button aria-label="Clear">
            <mat-icon>close</mat-icon>
          </button>
        }
        @if (lastName.hasError('required')) {
          <mat-error>
            Last Name is <strong>required</strong>
          </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="input-container">
      <mat-form-field class="form-select" appearance="outline">
        <mat-label>Roles</mat-label>
        <mat-select formControlName="selectedRoles" [compareWith]="compareRoles"  multiple>
          @for (role of roles; track role) {
            <mat-option [value]="role">
              {{role}}
            </mat-option>
          }
        </mat-select>
        @if (rolesControl.hasError('required')) {
          <mat-error>
            Roles is <strong>required</strong>
          </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="form-input">
      <mat-form-field appearance="outline" class="subject-input form-input ">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" [readonly]="viewOnly">
        @if (email.value && !viewOnly) {
          <button matSuffix mat-icon-button aria-label="Clear">
            <mat-icon>close</mat-icon>
          </button>
        }
        @if (email.hasError('required')) {
          <mat-error>
            Email is <strong>required</strong>
          </mat-error>
        }
        @if (accountForm.controls['email'].hasError('email') && accountForm.controls['email'].touched) {
          <mat-error>
            Email is <strong>invalid</strong>
          </mat-error>
        }
      </mat-form-field>
    </div>

  </form>
</div>
