<mat-card class="upload-card">
  <mat-card-title>Upload Validation Package</mat-card-title>
  <mat-card-content>
    <div class="info-note">
      Valid artifacts are either individual FHIR JSON resources, or FHIR NPM packages with a .tgz extension
    </div>

    <div class="form-layout">
      <!-- File Upload Field -->
      <div class="form-section">
        <mat-label class="form-label">Artifact Selection</mat-label>
        <file-upload (fileChange)="loadFile($event)">Upload</file-upload>
        @if (errorMessage) {
          <mat-error class="error-text">
            <mat-icon>error</mat-icon> {{ errorMessage }}
          </mat-error>
        }
      </div>

      <!-- Display Guide Name -->
      @if (configForm.get('name')?.value; as name) {
        <div class="form-section">
          <mat-label class="form-label">Artifact Name</mat-label>
          <div class="guide-name">{{ name }}</div>
        </div>
      }
    </div>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-raised-button color="primary" [disabled]="configForm.invalid" (click)="submitConfiguration()">
      <mat-icon>save</mat-icon>
      Upload Artifact
    </button>
  </mat-card-actions>
</mat-card>
<!-- IG Names -->
<mat-card class="upload-card">
  <mat-card-content>
    <div class="header-with-action">
      <mat-card-title>Validation Artifacts</mat-card-title>
      <button mat-button color="primary" (click)="openTxDependencies()">
        <mat-icon>list</mat-icon>
        View All TX Dependencies
      </button>
    </div>
    <mat-list>
      @for (ig of implementationGuides; track ig) {
        <mat-list-item>
          @if (ig.type === 'PACKAGE') {
            <a (click)="openTxDependencies(ig.name)">{{ ig.name }}</a> (package)
          }
          @else {
            <span>{{ig.name}} (resource)</span>
          }
        </mat-list-item>
      }
    </mat-list>
  </mat-card-content>
</mat-card>
