<div class="input-container list-item-container">
  <p>
    <mat-toolbar class="page-header-bar" color="primary">
      <span>Upload Implementation Guide</span>
    </mat-toolbar>
  </p>
  <form [formGroup]="configForm" class="dialog-form">
    <div class="form-input">
        <label style="font-weight: 600; display: block; margin-bottom: 4px;">Implementation Guide File</label>
        <div style="display: flex; align-items: center; gap: 1rem;">
          <file-upload (fileChange)="loadFile($event)">Upload</file-upload>
          <span *ngIf="configForm.get('name')?.value as guideName">{{ guideName }}.tgz</span>
        </div>
        <div class="form-input" style="margin-top: 1rem;">
        <label style="font-weight: 600;">Implementation Guide Name:</label>
        <span style="margin-left: 0.5rem;">{{ configForm.get('name')?.value }}</span>
        </div>
        <mat-error *ngIf="errorMessage" class="text-danger mt-2">
          ❌  {{ errorMessage }}
        </mat-error>
    </div>
  </form>
  <div mat-dialog-actions align="center">
    <button mat-raised-button color="primary" [disabled]="this.configForm.invalid" (click)="submitConfiguration()">
      <mat-icon>save</mat-icon>
      Upload Implementation Guide
    </button>
  </div>
</div>

