<div class="content">
  <p>
    <mat-toolbar class="page-header-bar" color="primary">
      <span *ngIf="measureDefConfig">{{measureDefConfig.bundleId}}</span>
      <button mat-raised-button aria-label="Navigate to Measure Definition Dashboard" matTooltip="Back to Measure Definition Dashboard" [routerLink]="['/measure-def']">
        <mat-icon>arrow_back</mat-icon> Back
      </button>
    </mat-toolbar>
  </p>

  <mat-card *ngIf="measureDefConfig">
    <mat-card-content>
      <app-measure-def-config-form [viewOnly]="true" [item]="measureDefConfig"></app-measure-def-config-form>
      <mat-card-actions align="end">
        <button mat-mini-fab aria-label="Edit Measure Def" matTooltip="Edit Measure Def" (click)="showMeasureConfigDialog()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab aria-label="Delete measure definition configuration" matTooltip="Delete measure definition configuration" (click)="deleteMeasureDefinitionConfiguration()">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>

</div>


