<div class="content">

  <p>
    <mat-toolbar class="page-header-bar" color="primary">
      <span>Tenant Dashboard</span>
      <button mat-mini-fab aria-label="Create a new facility dialog" matTooltip="Create Facility" (click)="showCreateFacilityDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-toolbar>
  </p>

  <div class="tenant-table-container" *ngIf="facilities.length > 0;else no_facilities_found">

    <table mat-table [dataSource]="facilities">

      <!-- Id Column -->
      <ng-container matColumnDef="facilityId">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let facility">
          <a [routerLink]="['/tenant/facility', facility.facilityId]">{{facility.facilityId}}</a>          
        </td>
      </ng-container>

      <!-- Facility Id Column -->
      <ng-container matColumnDef="facilityName">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let facility"> {{facility.facilityName}} </td>
      </ng-container>

      <!-- Scheduled Tasks Column -->
      <ng-container matColumnDef="scheduledTasks">
        <th mat-header-cell *matHeaderCellDef> Tasks </th>
        <td mat-cell *matCellDef="let facility"> {{facility.scheduledTasks.length}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <!--<mat-paginator [length]="paginationMetadata.totalCount"
                 [pageIndex]="paginationMetadata.pageNumber"
                 [pageSize]="paginationMetadata.pageSize"
                 [pageSizeOptions]="[5, 10, 20]"
                 (page)="pagedEvent($event)"
                 showFirstLastButtons
                 aria-label="Select page of facilities">
  </mat-paginator>-->
  </div>
  <ng-template #no_facilities_found>
    <div class="no-results-found-container">
      <span>No facilities found.</span>
    </div>
  </ng-template>

</div>
