<script src="report-scheduled-form.component.ts"></script>
<form [formGroup]="eventRequestedForm">
  <div class="enter-test-data">
    <b>Report scheduling</b>
  </div>
  <div class="input-container">
    <mat-form-field class="form-select" appearance="outline">
      <mat-label>Report Type</mat-label>
      <mat-select formControlName="selectedReportTypes" [compareWith]="compareReportTypes"  multiple>
        @for (type of reportTypes; track type) {
          <mat-option [value]="type">
            {{type}}
          </mat-option>
        }
      </mat-select>
      @if (reportTypeControl.hasError('required')) {
        <mat-error>
          Report Type is <strong>required</strong>
        </mat-error>
      }
    </mat-form-field>
  </div>
  <div class="input-container">
    <mat-form-field class="form-select" appearance="outline">
      <mat-label>Frequency</mat-label>
      <mat-select formControlName="selectedFrequency">
        @for (frequency of frequencies; track frequency) {
          <mat-option [value]="frequency">
            {{frequency}}
          </mat-option>
        }
      </mat-select>
      @if (frequencyControl.hasError('required')) {
        <mat-error>
          Frequency is <strong>required</strong>
        </mat-error>
      }
    </mat-form-field>
  </div>
  <div class="input-container">
    <mat-form-field class="form-input" appearance="outline">
      <mat-label>Start Date</mat-label>
      <input matInput formControlName="startDate" [matDatepicker]="startDatePicker">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
      @if (startDateControl.hasError('required')) {
        <mat-error>
          Report Start Date is <strong>required</strong>
        </mat-error>
      }
    </mat-form-field>
  </div>
  <div class="input-container">
    <mat-form-field class="form-input" appearance="outline">
      <mat-label>Run Report In (Minutes)</mat-label>
      <mat-select formControlName="selectedDelay">
        @for (delay of delays; track delay) {
          <mat-option [value]="delay">
            {{ delay }} minute{{ delay > 1 ? 's' : '' }}
          </mat-option>
        }
      </mat-select>
      @if (delayControl.hasError('required')) {
        <mat-error>
          Delay is <strong>required</strong>
        </mat-error>
      }
    </mat-form-field>
  </div>

  <!--<div class="input-container">
  <mat-form-field class="form-input" appearance="outline">
    <mat-label>End Date</mat-label>
    <input matInput formControlName="endDate" [matDatepicker]="endDatePicker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
    <mat-error *ngIf="endDateControl.hasError('required')">
      Report End Date is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</div>-->
</form>

<div class="form-bar">
  <button mat-raised-button color="primary" [disabled]="eventRequestedForm.invalid" (click)="generateEvent()">
    <mat-icon>event</mat-icon>
    Next
  </button>
</div>
