# From: https://levelup.gitconnected.com/enforcing-jira-ticket-formatting-in-github-pr-titles-and-commit-messages-78d9755568df
name: "PR Title Check"
on:
  pull_request:
    branches: [ dev, LNK-2726-Enforce-Jira-key-in-PR-message ]
    types: [opened, edited, synchronize]
jobs:
  check-title:
    runs-on: ubuntu-latest
    steps:
    - name: Check PR title
      uses: actions/github-script@v4
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: |
          const payload = context.payload
          const prTitle = payload.pull_request.title
          // The pattern for JIRA ticket format
          const jiraPattern = /^LNK-\d+[:-\s]/g
          if (!jiraPattern.test(prTitle)) {
            console.log('Could not find a LNK Jira ticket in PR title!')
            // Fails the workflow
            core.setFailed('Could not find a LNK Jira ticket in PR title!')
          } else {
            console.log('PR title format is correct.')
          }