<mat-card-content>
  <form [formGroup]="copyPropertyForm">
    <div class="form-grid">
      <!-- Facility Id -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Facility Id</mat-label>
        <input matInput formControlName="FacilityId" [disabled]="true" placeholder="Facility Id" />
      </mat-form-field>

      <!-- Description -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Description</mat-label>
        <input matInput [formControl]="DescriptionControl" [readonly]="viewOnly" />
        <button *ngIf="DescriptionControl.value && !viewOnly" matSuffix mat-icon-button aria-label="Clear" (click)="clearDescription()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="DescriptionControl.hasError('required') && (DescriptionControl.touched || DescriptionControl.dirty)">
          Description is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- Resource Type -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Resource Types</mat-label>
        <mat-select formControlName="SelectedResourceTypes" [compareWith]="compareResourceTypes" multiple>
          <mat-option *ngFor="let type of resourceTypes" [value]="type">{{ type }}</mat-option>
        </mat-select>
        <mat-error *ngIf="SelectedReportTypesControl.hasError('required')">
          Resource is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- Name -->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="Name" [readonly]="viewOnly" />
        <button *ngIf="NameControl.value && !viewOnly" matSuffix mat-icon-button aria-label="Clear" (click)="clearName()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="NameControl?.hasError('required') && (NameControl.touched || NameControl.dirty)">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- Source/Target Paths -->
      <div class="form-row">
        <mat-form-field appearance="fill" class="half-width">
          <mat-label>Source FHIR path</mat-label>
          <input matInput formControlName="SourceFhirPath" [readonly]="viewOnly" />
          <button *ngIf="SourceFhirPathControl.value && !viewOnly" matSuffix mat-icon-button aria-label="Clear" (click)="clearSourcePath()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="SourceFhirPathControl.hasError('required')">
            Source path is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="half-width">
          <mat-label>Target FHIR path</mat-label>
          <input matInput formControlName="TargetFhirPath" [readonly]="viewOnly" />
          <button *ngIf="TargetFhirPathControl.value && !viewOnly" matSuffix mat-icon-button aria-label="Clear" (click)="clearTargetPath()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="TargetFhirPathControl.hasError('required')">
            Target path is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-card-content>
