<div class="content">

  <p>
    <mat-toolbar class="page-header-bar" color="primary">
      <span>User Accounts</span>
      <button mat-mini-fab aria-label="Create a new user " matTooltip="Create Account" (click)="onAdd()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-toolbar>
  </p>

  <div>
    <label>
      <input type="checkbox" [(ngModel)]="showDeletedAccounts" (change)="getAccounts()" />
      Show Deleted Accounts
    </label>
  </div>

  <div class="account-table-container" *ngIf="users.length > 0;else no_account_found">

    <table mat-table [dataSource]="users">

      <!-- User Name Column -->
      <ng-container matColumnDef="UserName">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let user"> {{user.username}} </td>
      </ng-container>

      <!-- First Name Column -->
      <ng-container matColumnDef="FirstName">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
      </ng-container>

      <!-- Last Name Column -->
      <ng-container matColumnDef="LastName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="Roles">
        <th mat-header-cell *matHeaderCellDef> Roles </th>
        <td mat-cell *matCellDef="let user">
          <div class="d-flex flex-wrap gap-2">
            <span *ngFor="let role of user.roles" class="badge bg-primary text-white">
              {{ role }}
            </span>
          </div>
        </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let user"> {{user.email}} </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let user" >
          <div class="actions" >
            <button mat-icon-button color="primary" class="mat-elevation-z2" (click)="onEdit(user)" *ngIf = "user.isDeleted === false" matTooltip="Edit Account">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" class="mat-elevation-z2" (click)="onDelete(user)"   *ngIf = "user.isDeleted === false" matTooltip="Delete Account">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button color="warn" class="mat-elevation-z2" (click)="onRestore(user)"  *ngIf = "user.isDeleted === true"  matTooltip="Undelete Account">
              <mat-icon>restore</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [length]="paginationMetadata.totalCount"
                   [pageIndex]="paginationMetadata.pageNumber"
                   [pageSize]="paginationMetadata.pageSize"
                   [pageSizeOptions]="[5, 10, 20]"
                   (page)="pagedEvent($event)"
                   showFirstLastButtons
                   aria-label="Select page of account logs">
    </mat-paginator>
  </div>
  <ng-template #no_account_found>
    <div class="no-results-found-container">
      <span>No accounts found.</span>
    </div>
  </ng-template>

</div>
